*{
    margin: 0;
    border: 0;
}
html, body{
    overflow-x: hidden;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#hero-section{
    background-color: #000000;
    color: #ffff;
    padding: 20px 7rem;
}
.header-items{
    display: flex;
    justify-content: space-between;
}
.main__nav{
    display: flex;
}
.main__nav a{
    color: #ffff;
    text-decoration: none;
    margin-left: 2rem;
}

.header-items .login-btn{
    margin-right: 10rem;
    border: #920f92 1px solid;
    padding: 0.75rem 2rem;
    border-radius: 4px;
}
.header-items .login-btn:hover{
    cursor: pointer;
}
.search-loging-sec{
    display: flex;
}
.search-loging-sec img{
    padding-top: 0.80rem;
    margin-right: 3rem;
    
}
.search-loging-sec img:hover{
    cursor: pointer;
}

.hero-section-text-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 5rem;
}
.hero-section-text-container .switch{
    display: flex;
    background-color: #383737;
    border-radius: 15px;
    padding: 5px 10px;
}

.switch .first{
    margin-right: 1rem;
    font-weight: bold;
}

.switch .first:active, .second:active{
    background-color: #8d18b1;
    border-radius: 10px;
    cursor: pointer;
    padding: 0.45rem;
}

.hero-section-text-container .intro h2{
    font-size: 4rem;
    max-width: 350px;
}

.hero-section-text-container .intro p{
    font-size: 1.5rem;
    max-width: 500px;
}

.go-to{
    background-color: #8d18b1;
    padding: 0.75rem 1rem;
    margin: 1rem 0rem;
}
.hero-section-text-container .users-update{
    display: flex;
}

.hero-section-text-container .users-update img{
    width: 30px ;
    height: 30px;
    border-radius: 50%;
    margin-left: -0.65rem;
    border: #920f92 1px solid;
}
.users-update #update-img-1{
    z-index: 1;
}
.users-update #update-img-2{
    z-index: 2;
}
.users-update #update-img-3{
    z-index: 3;
}
.users-update #update-img-4{
    z-index: 4;
}

.users-update #update-img-4 ~ h4{
    font-size: 10px;
    z-index: 5;
    border: #920f92 1px solid;
    border-radius: 50%;
    padding: 0.85rem 0.45rem;
    background-color: #383737;
    margin-left: -0.65rem;
}

.users-update h4 ~ h5{
    padding-top: 1rem;
    padding-left: 1rem;
}

#popular-creators{
    background-color: #582f6d;
    color: #ffff;
    padding: 20px 7rem;
}
.heading  #heading-M{
    font-size: 55px;
    max-width: 550px;
}
.heading #bold-spooked{
    color: #8d18b1;
}
.heading #heading-E{
    max-width: 330px;
    padding-right: 10rem;
    font-size: 19px;
    opacity: 0.75;
}
.popular-creators-sec-items .heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.most-popular-sec-imgs{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.most-popular-sec-imgs img{
    height: 230px;
    width: 270px;
    border: #920f92 solid 1px;
    border-radius: 7px;

}
.most-popular-sec-imgs figcaption{
    max-width: 270px;
}
.most-popular-sec-imgs figcaption h3{
    font-size: 19px;
}
.most-popular-sec-imgs figcaption p{
    font-size: 10px;
    opacity: 0.85;
}

#career-path-section{
    background-color: #000000;
    color: #ffff;
    padding: 20px 7rem;
}
.first-ent-img{
    background-color: #8d18b1;
    padding: 5rem;
    border: #ffff solid 1px;
    border-radius: 100px 0px/ 100px 0px;
}
.first-ent-img img{
    border-radius: 7px;
    height: 200px;
}
.first-ent-items{
    display: flex;
    justify-content: space-between;
}
.first-ent-items .write-up{
    padding-left: 6rem;
}
.write-up .ep-choice{
    display: inline-block;
    background-color: #383737;
    border-radius: 15px;
    padding: 0.65rem;
}
.ep-choice-items #ep-holder{
    margin-right: 1rem;
}
.ep-choice .ep-choice-items{
    display: flex;
}
.write-up .main-write-up{
    padding: 2rem 0rem;
}
.main-write-up h3{
    font-size: 4rem;
}
.main-write-up p{
    font-size: 1.2rem;
    margin-top: 1rem;
}

.write-up .pod-play-butn{
    display: inline-flex;
    background-color: #8d18b1;
    border-radius: 2px;
    padding:0.55rem 1.25rem ;
}
.write-up .pod-play-butn p{
    margin-top: 0.45rem;
}

#career-path-section .second-sec{
    margin-top: 5rem;
}

.second-sec .all-episodes{
    display: flex;
    justify-content: space-between;
}

.second-sec .shuffle{
    margin-top: 3rem;
}

.shuffle ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.shuffle li {
    background-color: #8d18b1;
    padding: 0.55rem 2rem;
    border-radius: 10px;
    opacity: 0.5;
    cursor: pointer;
}
.shuffle li:hover{
    opacity: 1;
}
.shuffle .first{
    background-color: #8d18b1;
    opacity: 1;
}



.the-main-pod-page{
    margin: 3rem 6rem;
}
.main-pod-page-items .andy-budd {
    background-color: #383737;
    color: #ffff;
    border: #ffff solid 1px;
    border-radius: 10px;
    padding: 2rem;
}
.andy-budd img{
    height: 130px;
    width: 130px;
    border-radius: 10px;
}
.andy-budd .the-img{
    position: relative;
}

#andys-img .the-img img ~ p{
    position: static;
}
.main-pod-page-items #andys-img{
    display: flex;
}

#andys-img figcaption{
    margin-left: 3rem;
}

#andys-img figcaption h2, p, label{
    margin-bottom: 0.85rem;
}
#andys-img figcaption input ~ label > p > #arrow{
    text-decoration: underline;
    cursor: pointer;
}




